@font-face {
    font-family: 'Comfotaa-Bold';
    src: url(./font\ family/Comfotaa-Bold);
}
@font-face {
    font-family: 'Comfotaa-Regular';
    src: url(./font\ family/Comfotaa-Regular);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(./font\ family/Montserrat-Regular);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(./font\ family/Montserrat-Bold);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(./font\ family/Roboto-Medium);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(./font\ family/Roboto-Regular);
}